.sidebox-container{
    background-color: #FFE7E7;
    height: 82vh;
    border-radius: 6px;
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidelist{
    font-size: larger !important;
    line-height: 6vh !important;
    border-radius: 6px;
}
svg{
    padding-top: 0px;
    position: relative;
    top: 4px;
    margin: 0 10px 0 0;
}
